@page "/userdetails/{UserId:int}"
@inject IAccountService accountService
@inject NavigationManager NavigationManager
<h3>User Details</h3>

@if (user != null)
{
    <div>
        <p><strong>Email:</strong> @user.Mail</p>
        <p><strong>Is Active:</strong> @user.IsActive</p>
        <p><strong>Role:</strong> @user.UserRole?.RoleName</p>
        <p><strong>Campus:</strong> @user.Campus?.CampusName</p>
    </div>
    <div class="mt-3">
        <button class="btn btn-primary mr-2" @onclick="() => EditUser(user.UserId)">Edit</button>
        <button class="btn btn-danger mr-2" @onclick="DeleteUser">Delete</button>
        <button class="btn btn-secondary" @onclick="Back">Back to list</button>
    </div>
}
else
{
    <p>Loading user details...</p>
}

@code {
    [Parameter] public int UserId { get; set; }
    private User? user;
    private string? errorMessage;

    protected override async Task OnInitializedAsync()
    {
        await FetchUserDetail();
    }

    private async Task FetchUserDetail()
    {
        var result = await accountService.GetByIdAsync(UserId);
        if (result != null)
        {
            user = result.Item;
        }
    }
    private void EditUser(int UserId)
    {
        NavigationManager.NavigateTo($"/edituser/{UserId}");
    }

    private async Task DeleteUser()
    {
            var deletedUser = await accountService.DeleteAsync(UserId);
            if (deletedUser.IsSuccessful)
            {
                NavigationManager.NavigateTo("/usermanagement");
            }
            else
            {
                errorMessage = "Update failed. Please try again.";
            }
    }

    private void Back()
    {
        NavigationManager.NavigateTo("/usermanagement");
    }
}
