@page "/home"

<style>
    .action-item {
        padding: 25px 40px 25px 0px;
        font-size: large;
        border-bottom: 1px solid #d9d8d8;
    }

        .action-item a {
            color: dodgerblue !important;
            cursor: pointer;
        }
</style>

<div>
    @if(menuList.Count > 0)
    {
        @foreach(var item in menuList)
        {
            <div class="action-item">
                <NavLink @onclick="@(() => GoToPage(item.MenuLink))">@item.MenuName</NavLink>
            </div>
        }
    } else
    {
        <div>
            <h1 class="text-center"></h1>
        </div>
    }
</div>

@code {
    [CascadingParameter]
    public MainLayout Layout { get; set; }

    public List<Menu> menuList = new();

    public string TextInfo { get; set; } = string.Empty;

    public int b = 0;

    protected override async Task OnInitializedAsync()
    {
        var auth = await CustomAuthStateProvider.GetAuthenticationStateAsync();
        if (auth != null && auth.User.Identity.IsAuthenticated != false)
        {
            var user = auth.User;
            var userRole = int.TryParse(user.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role)?.Value, out var id) ? id : 0;

            var resp = await MenuServive.GetMenuByUser(id);

            if (resp.IsSuccessful)
            {
                menuList = resp.Items;

                TextInfo = menuList.Count > 0 ? "You dont have any permission on this site" : string.Empty;
            }

        }
        if (Layout != null)
        {
            Layout.Header = string.Empty;
            Layout.HeaderLink = string.Empty;
            Layout.SubHeader = string.Empty;
            Layout.SubHeader1 = string.Empty;
            Layout.RefreshLayout();
        }


    }

    public void GoToPage(string url)
    {
        NavManager.NavigateTo(url);
    }

}
