@page "/login"

<PageTitle>Login</PageTitle>


<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .login-box {
        display: flex;
        width: 70%;
        box-shadow: 0 0 15px rgba(0,0,0,0.1);
        border-radius: 10px;
        overflow: hidden;
    }

    .illustration {
        background: url('image/illustration.png') no-repeat center center;
        background-size: cover;
        width: 50%;
        position: relative;
    }

        .illustration .text {
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            color: #5D3A6E;
            top: 20px;
        }

    .form-container {
        padding: 40px;
        width: 50%;
        background-color: #fff;
    }

        .form-container h2 {
            margin-bottom: 20px;
            color: #5D3A6E;
        }
</style>

<div class="container">
    <div class="login-box">
        <div class="illustration">
            <h3 class="text">Quiz Review</h3>
        </div>
        <div class="form-container">
            <h2>Login to your Account</h2>
            <EditForm Model="accountRequest" OnValidSubmit="LoginAsync">
                <div class="form-group mb-4">
                    <label for="email">Email</label>
                    <MudTextField @bind-Value=accountRequest.Email class="form-control" Margin="Margin.Dense" Variant="Variant.Outlined" />
                </div>
                <div class="form-group mb-4">
                    <label for="password">Password</label>
                    <MudTextField @bind-Value=accountRequest.Password InputType="InputType.Password" class="form-control" Margin="Margin.Dense" Variant="Variant.Outlined" />
                </div>
                <div class="form-check mb-3 d-flex justify-content-end align-items-center">
                    <div>
                        <p class="mt-3"><MudLink href="#">Forgot Password?</MudLink></p>
                    </div>

                </div>
                <MudButton Color="Color.Primary" ButtonType="ButtonType.Submit" class="btn btn-block mb-4 col-12" Variant="Variant.Filled" Disabled="@_processing">
                    @if (_processing)
                    {
                        <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                        <MudText Class="ms-2">Logging in</MudText>
                    }
                    else
                    {
                        <MudText>Login</MudText>
                    }
                </MudButton>
            </EditForm>
            <p class="text-center">Not Registered Yet? <MudLink href="register">Create an account</MudLink></p>

        </div>
    </div>
</div>


@code {
    public UserRequest accountRequest = new UserRequest();
    private bool _processing = false;
    protected override async Task OnInitializedAsync()
    {
        var isAuthenticated = await CustomAuthStateProvider.IsUserAuthenticated();

        if (isAuthenticated)
        {
            NavManager.NavigateTo("/home");
        }
    }

    public async Task LoginAsync()
    {
        _processing = true;

        var resp = await this.AccountService.LoginUserAsync(accountRequest);

        if (resp.IsSuccessful)
        {
            var customAuthStateProvider = (CustomAuthenticationStateProvider)AuthStateProvider;
            await customAuthStateProvider.UpdateAuthenticationState(resp.Token!);
            NavManager.NavigateTo("/home");
        }

        _processing = false;

    }

}
