@page "/not-found"
@page "/404"

<PageTitle>Not found</PageTitle>
<div class="h-100 d-flex justify-content-center align-items-center flex-column">
    <h2>Page Not Found</h2>
    <p role="alert">Sorry, there's nothing at this address.</p>
    <p>Click <a href="/Home" class="text-info fw-bold fs-6">Here</a> to go back</p>
</div>
